@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Poppins", sans-serif;
}

* {
  font-family: var(--font-family);
}

.custom-segmented .ant-segmented {
  height: 48px;
  display: flex;
  align-items: center;
}

.custom-segmented .ant-segmented-group {
  width: 100%;
  height: 100%;
  display: flex;
}

.custom-segmented .ant-segmented-item {
  flex: 1;
  justify-content: center;
  font-weight: 500;
  color: #555;
  transition: all 0.2s ease;
  height: 100%;
  display: flex;
  align-items: center;
}

.custom-segmented .ant-segmented-item-selected {
  background-color: #8869f3 !important;
  color: white !important;
  height: 100%;
  border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #8869f3 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #8869f3;
  border-radius: 10px;
}

/* Add Post Modal Swiper Button Styling */
.custom-swiper .swiper-button-prev,
.custom-swiper .swiper-button-next {
  color: #8869f3;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
}

.custom-swiper .swiper-button-prev {
  left: -5px;
}
.custom-swiper .swiper-button-next {
  right: -5px;
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #8869f3;
}

/* Post Modal Swiper Button Styling */
.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  width: 24px;
  height: 24px;
  background: #f9fafb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 20;
}

.custom-prev {
  left: 12px;
}
.custom-next {
  right: 12px;
}

.custom-prev:hover,
.custom-next:hover {
  background: #ffffff;
}

.ant-radio-inner {
  width: 18px !important;
  height: 18px !important;
  border: 1.5px solid #d9d9d9 !important;
  background-color: #fff !important;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #8869f3 !important;
}

.ant-radio-inner::after {
  width: 16px !important;
  height: 16px !important;
  background-color: #8869f3 !important;
  transform: scale(0.65) !important;
  top: 50% !important;
  left: 50% !important;
  margin-top: -8px !important;
  margin-left: -8px !important;
}

.ant-radio:hover .ant-radio-inner {
  border-color: #8869f3 !important;
}

.ant-radio-checked::after {
  border: none !important;
}

.ant-radio-inner {
  border-color: #999 !important;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #8869f3 !important;
}

.ant-radio-inner::after {
  background-color: #8869f3 !important;
}

.custom-modal .ant-modal-close-x svg {
  color: black !important;
}

.filter-purple {
  filter: invert(53%) sepia(73%) saturate(6400%) hue-rotate(227deg)
    brightness(102%) contrast(96%);
}
